@charset "UTF-8";

@font-face {
    font-family: 'D2Coding';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_three@1.0/D2Coding.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html * {
	font-family: 'D2Coding';
}

.table-box th, .table-box td {
	padding: 10px;
	text-align: center;
}

.ProseMirror div, .toastui-editor-contents p {
	font-size: 1.5rem;
	text-align: left;
}